/app/code/community
/app/code/core
/app/locale/*
!/app/locale/de_DE
!/app/locale/en_US
!/app/locale/fr_FR
/app/locale/de_DE/*
/app/locale/en_US/*
/app/locale/fr_FR/*
!/app/locale/de_DE/Likipe_Utility.csv
!/app/locale/en_US/Likipe_Utility.csv
!/app/locale/fr_FR/Likipe_Utility.csv
/app/Mage.php
/app/.htaccess
/app/etc/local.xml
/downloader
/errors
/includes
/js/*
!/js/custom.js
/lib
/media
/pkginfo
/shell/*
!/shell/rewrites_doctor.php
/var/*
!/var/importexport
/.htaccess
/cron.sh
/favicon.ico
/*.php.*
/*.php
/*.txt
!/readme.txt
/*.sample
/LICENSE.html
/mage