<?xml version="1.0"?>
<config>
    <modules>
        <Atwix_Tweaks>
            <version>0.0.1</version>
        </Atwix_Tweaks>
    </modules>
    <global>
        <helpers>
            <atwixtweaks>
                <class>Atwix_Tweaks_Helper</class>
            </atwixtweaks>
        </helpers>
        <blocks>
            <atwixtweaks>
                <class>Atwix_Tweaks_Block</class>
            </atwixtweaks>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Atwix_Tweaks_Block_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <config>Atwix_Tweaks_Model_Catalog_Config</config>
                </rewrite>
            </catalog>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <customer_group_handle>
                        <class>module/observer</class>
                        <method>addCustomerGroupHandle</method>
                    </customer_group_handle>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <atwixtweaks after="Mage_Adminhtml">Atwix_Tweaks</atwixtweaks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <atwixtweaks>
                                            <title>Atwix Settings</title>
                                        </atwixtweaks>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
