<?xml version="1.0"?>
<config>
	<modules>
		<Atwix_Tweaks>
			<version>1.0.0</version>
		</Atwix_Tweaks>
	</modules>
	<frontend>
     	<routers>
         	<tweaks>
             	<use>standard</use>
             	<args>
                 	<module>Atwix_Tweaks</module>
                 	<frontName>tweaks</frontName>
             	</args>
         	</tweaks>
     	</routers>
 	</frontend>
 	<global>
 		<helpers>
		   	<tweaks>
		        <class>Atwix_Tweaks_Helper</class>
		    </tweaks>
		</helpers>
 	</global>
</config>