<?xml version="1.0"?>
<config>
    <global>
        <models>
            <atwixcms>
                <class>Atwix_CMS_Model</class>
            </atwixcms>
            <cms_mysql4>
                <class>Atwix_CMS_Model_Mysql4</class>
                <entities>
                    <cms>
                        <table>cms_page</table>
                    </cms>
                </entities>
            </cms_mysql4>
        </models>
        <events>
            <adminhtml_cms_page_edit_tab_content_prepare_form>
                <observers>
                    <atwix_page_edit_tab_content>
                        <type>singleton</type>
                        <class>Atwix_CMS_Model_Observer</class>
                        <method>cmsField</method>
                    </atwix_page_edit_tab_content>
                </observers>
            </adminhtml_cms_page_edit_tab_content_prepare_form>
            <cms_page_prepare_save>
                <observers>
                    <Atwix_CMS_Model_Observer>
                        <type>singleton</type>
                        <class>Atwix_CMS_Model_Observer</class>
                        <method>savePage</method>
                    </Atwix_CMS_Model_Observer>
                </observers>
            </cms_page_prepare_save>
        </events>
        <resources>
            <cms_setup>
                <setup>
                    <module>Atwix_CMS</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cms_setup>
            <cms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cms_write>
            <cms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cms_read>
        </resources>
    </global>
</config>