<?xml version="1.0"?>
<config>
    <modules>
        <Atwix_Maintenance>
            <version>1.0.0</version>
        </Atwix_Maintenance>
    </modules>
    <global>
        <helpers>
            <atwix_maintenance>
                <class>Atwix_Maintenance_Helper</class>
            </atwix_maintenance>
        </helpers>
        <models>
            <atwix_maintenance>
                <class>Atwix_Maintenance_Model</class>
            </atwix_maintenance>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <atwix_maintenance>
                        <type>singleton</type>
                        <class>Atwix_Maintenance_Model_Observer</class>
                        <method>switchStoreToMaintenance</method>
                    </atwix_maintenance>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <atwix>
                                            <title>Atwix Extensions</title>
                                        </atwix>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <atwix>
            <maintenance_settings>
                <maintenance_enable>0</maintenance_enable>
            </maintenance_settings>
        </atwix>
    </default>
</config>