<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Inchoo_Phonebook>
			<version>1.0.0.0</version>
		</Inchoo_Phonebook>
	</modules>
	<frontend>
		<routers>
			<Inchoo_Phonebook>
				<use>standard</use>
				<args>
					<module>Inchoo_Phonebook</module>
					<frontName>phonebook</frontName>
				</args>
			</Inchoo_Phonebook>
		</routers>
	</frontend>
	<global>
		<models>
			<inchoo_phonebook>
				<class>Inchoo_Phonebook_Model</class>
				<resourceModel>inchoo_phonebook_resource</resourceModel>
			</inchoo_phonebook>
			<inchoo_phonebook_resource>
				<class>Inchoo_Phonebook_Model_Resource</class>
				<entities>
					<user>
						<table>inchoo_phonebook_user_entity</table>
					</user>
					<user_entity_varchar>
						<table>inchoo_phonebook_user_entity_varchar</table>
					</user_entity_varchar>
					<user_entity_text>
						<table>inchoo_phonebook_user_entity_text</table>
					</user_entity_text>
					<user_entity_int>
						<table>inchoo_phonebook_user_entity_int</table>
					</user_entity_int>
				</entities>
			</inchoo_phonebook_resource>
		</models>
		<resources>
			<inchoo_phonebook_setup>
				<setup>
					<module>Inchoo_Phonebook</module>
					<class>Inchoo_Phonebook_Model_Resource_Setup</class>
				</setup>
			</inchoo_phonebook_setup>
			<inchoo_phonebook_write>
				<connection>
					<use>default_write</use>
				</connection>
			</inchoo_phonebook_write>
			<inchoo_phonebook_read>
				<connection>
					<use>default_read</use>
				</connection>
			</inchoo_phonebook_read>
		</resources>
	</global>
</config>