<?xml version="1.0"?>
<!--
/**
 * Magestore
 * 
 * Online Magento Course
 * 
 */
-->
<config>
    <modules>
        <Magestore_Lesson06>
            <version>0.1.0</version>
        </Magestore_Lesson06>
    </modules>
    <frontend>
        <routers>
            <lesson06>
                <use>standard</use>
                <args>
                    <module>Magestore_Lesson06</module>
                    <frontName>lesson06</frontName>
                </args>
            </lesson06>
        </routers>
        <layout>
            <updates>
                <lesson06>
                    <file>lesson06.xml</file>
                </lesson06>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Lesson06>
                    <files>
                        <default>Magestore_Lesson06.csv</default>
                    </files>
                </Magestore_Lesson06>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <lesson06admin>
                <use>admin</use>
                <args>
                    <module>Magestore_Lesson06</module>
                    <frontName>lesson06admin</frontName>
                </args>
            </lesson06admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <lesson06>
                    <file>lesson06.xml</file>
                </lesson06>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Lesson06>
                    <files>
                        <default>Magestore_Lesson06.csv</default>
                    </files>
                </Magestore_Lesson06>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <lesson06>
                <class>Magestore_Lesson06_Model</class>
                <resourceModel>lesson06_mysql4</resourceModel>
            </lesson06>
            <lesson06_mysql4>
                <class>Magestore_Lesson06_Model_Mysql4</class>
                <entities>
                    <lesson06>
                        <table>lesson06</table>
                    </lesson06>
                </entities>
            </lesson06_mysql4>
        </models>
        <resources>
            <lesson06_setup>
                <setup>
                    <module>Magestore_Lesson06</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lesson06_setup>
            <lesson06_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lesson06_write>
            <lesson06_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lesson06_read>
        </resources>
        <blocks>
            <lesson06>
                <class>Magestore_Lesson06_Block</class>
            </lesson06>
        </blocks>
        <helpers>
            <lesson06>
                <class>Magestore_Lesson06_Helper</class>
            </lesson06>
        </helpers>
        <!-- <events>
            <controller_action_predispatch>
                <observers>
                    <lesson06_observers>
                        <class>lesson06/observer</class>
                        <method>controllerActionPredispatch</method>
                    </lesson06_observers>
                </observers>
            </controller_action_predispatch>
        </events> -->
    </global>
</config>