<?xml version="1.0"?>
<config>
	<modules>
		<Likipe_Utility>
			<version>1.0.0</version>
		</Likipe_Utility>
	</modules>
	<frontend>
		<routers>
			<utility>
				<use>standard</use>
				<args>
					<module>Likipe_Utility</module>
					<frontName>utility</frontName>
				</args>
			</utility>
		</routers>
		<layout>
			<updates>
				<utility>
					<file>utility.xml</file>
				</utility>
			</updates>
		</layout>
		<translate>
		  	<modules>
		    	<Likipe_Utility>
	             	<files>
		          		<default>Likipe_Utility.csv</default>
		       		</files>
		    	</Likipe_Utility>
		  	</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<utility>
				<use>admin</use>
				<args>
					<module>Likipe_Utility</module>
					<frontName>adminutility</frontName>
				</args>
			</utility>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<utility>
					<file>utility.xml</file>
				</utility>
			</updates>
		</layout>
		<menu>
			<utility translate="title" module="adminhtml">
				<title>Likipe Utility</title>
				<sort_order>100</sort_order>
				<children>
					<set_time>
						<title>Adress book</title>
						<sort_order>1000</sort_order>
						<action>adminutility/adminhtml_index</action>
					</set_time>
					<add_contact>
						<title>Add Contact</title>
						<sort_order>1001</sort_order>
						<action>adminutility/adminhtml_index/new</action>
					</add_contact>
					<import_price>
						<title>Import</title>
						<sort_order>1002</sort_order>
						<action>adminutility/adminhtml_index/test</action>
					</import_price>
				</children>
			</utility>
		</menu>
	</adminhtml>
	<global>
		<models>
			<utility>
				<class>Likipe_Utility_Model</class>
				<resourceModel>utility_mysql4</resourceModel>
			</utility>
			<utility_mysql4>
				<class>Likipe_Utility_Model_Mysql4</class>
				<entities>
					<utility>
						<table>likipe_utility</table>
					</utility>
				</entities>
			</utility_mysql4>
		</models>
			<!-- allow the plugin to read and write -->
		<resources>
			<!-- connection to write -->
			<utility_write>
				<connection>
					<use>core_write</use>
				</connection>
			</utility_write>
		</resources>
		<blocks>
			<utility>
				<class>Likipe_Utility_Block</class>
			</utility>
		</blocks>
		<events>
			<cms_page_prepare_save>
				<observers>
					<Likipe_Utility_Model_Observer>
					<!--<Utility_Observer>-->
	       				<type>singleton</type>
	       				<class>utility/observer</class>
	       				<method>saveCmsPageObserve</method>
       				<!--</Utility_Observer>-->
	   				</Likipe_Utility_Model_Observer>
				</observers>
			</cms_page_prepare_save>
		</events>
		<helpers>
		   	<utility>
		        <class>Likipe_Utility_Helper</class>
		    </utility>
		</helpers>
	</global>
</config>