<?xml version="1.0"?>
<config>
	<modules>
		<Inchoo_Prevnext>
			<version>0.1.0</version>
		</Inchoo_Prevnext>
	</modules>
    <frontend>         
        <events>
            <controller_action_postdispatch>
                <observers>
                    <inchoo_prevnext_set_filtered_category_product_collection>
                        <class>inchoo_prevnext/observer</class>
                        <method>setInchooFilteredCategoryProductCollection</method>
                    </inchoo_prevnext_set_filtered_category_product_collection>
                </observers>                
            </controller_action_postdispatch>
        </events>      
    </frontend>
</config>