<config>
    <modules>
        <Inchoo_Selectify>
            <version>0.1.0</version>
        </Inchoo_Selectify>
    </modules>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <inchoo_selectify>
                        <class>Inchoo_Selectify_Model_Observer</class>
                        <method>convertQtyInputToSelect</method>
                    </inchoo_selectify>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
</config>