<?xml version="1.0"?>
<config>
    <modules>
        <Inchoo_Backorderreport>
            <version>1.0.0.0</version>
        </Inchoo_Backorderreport>
    </modules>
    <global>
        <blocks>
            <backorderreport>
                <class>Inchoo_Backorderreport_Block_Adminhtml</class>
            </backorderreport>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <backorderreport after="Mage_Adminhtml">Inchoo_Backorderreport_Adminhtml</backorderreport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>