<?xml version="1.0"?>
<config>
    <modules>
        <Likipe_Demo>
            <version>0.1.0</version>
        </Likipe_Demo>
    </modules>
    <frontend>
        <routers>
            <demo>
                <use>standard</use>
                <args>
                    <module>Likipe_Demo</module>
                    <frontName>demo</frontName>
                </args>
            </demo>
        </routers>
        <layout>
            <updates>
                <demo>
                    <file>demo.xml</file>
                </demo>
            </updates>
        </layout>
    </frontend> 
    <global>
        <blocks>
            <demo>
                <class>Likipe_Demo_Block</class>
            </demo>
        </blocks>
    </global>
</config>